/* PAGE LAYOUT */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

#page-container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	background: #2E2E2E url("../img/body-bg-top.jpg") no-repeat;
	background-position: center top;
	margin-top: 10px;
	margin-bottom: 10px;
}

#sponsor {
	width: 100%;
	height: 150px;
	text-align: center;
	clear:both;
}

#column-left, #column-divider, #column-right {
	display:inline;
	float: left;
}

#column-left {
	margin-left: 10px;
	width: 530px;
}

#column-divider {
	margin-left: 0px;
	width: 30px;
	height: 800px;
	background: url("../img/divider-vert.png") no-repeat;
	background-position: 0px 0px;
}

#column-right {
	margin-left: 0px;
	width: 370px;
}

#spotlight {
	margin-top: 15px;
	height:220px;
	width: 545px;
	overflow:hidden;
	position:relative;
}

#timeline-head {
	padding-top: 30px;
	min-height: 40px;
}

#time-line container {
	margin:0px;
	padding: 0px;
}

#timeline {
	height: 1300px;
	overflow: auto;
}

#viewer-timeline-container {
	width: 340px;
	height: 360px;
	padding-top: 5px;
	background: url("../img/viewer-timeline-background.png") no-repeat;
}

#viewer-timeline {
	width: 318px;
	height: 346px;
	margin-left: 15px;
	overflow: auto;
	position:relative;
}