/* styles */

html{color:#000;background:none;}

body {
    background: #fff;
}

h1,h2,h3,h4,h5 {  font-weight:600; margin-bottom:3px;line-height:1.2em;}

div, tr, th, td, p {
	font-family: "Rockwell", "Rockwell Std", Arial, sans;
	color: #411F0A;
	font-size: 16px;
	font-weight: bold;
}

th {
	color: white;
}

em {
    font-style: italic;
}

strong {
	font-weight: bold;
}

#header {
	overflow: hidden;
	width: 520px;
	height: 280px;
	background: url("../images/app_tab/mud_u_tab_header.jpg") no-repeat;
}

#header h1 {
	display: none;
}

#header a {
	display: inline-block;
	margin: 180px 0px 0px 264px;
	width: 266px;
	height: 111px;
	text-indent: -10000px;
	background: url("../images/app_tab/mud_now_button.png") no-repeat;
}

.tab-all {
	position: absolute;
	display: inline-block;
	width: 202px;
	height: 100px;
	text-indent: -10000px;
	background: url("../images/app_tab/tab-all.png") no-repeat;
}

.tab-week {
	position: absolute;
	left: 200px;
	display: inline-block;
	width: 230px;
	height: 76px;
	text-indent: -10000px;
	background: url("../images/app_tab/tab-week.png") no-repeat;
	background-position: 0px 10px;
}

.tab-week:hover {
	background-position: 0px 0px;
}

.tab-all:hover {
	background-position: 0px 0px;
}

#header a:hover {
	margin-top: 179px;
}

#header a:active {
	margin-top: 181px;
}

#promo {
	width: 520px;
	height: 140px;
	background: url("../images/app_tab/sweeps_bg.jpg") no-repeat;
}

#hosted_promo {
	border: none;
	margin: 0px 0px 0px 10px;
}

#leaderboard-tabs {
	width: 520px;
	height: 76px;
	background: url("../images/app_tab/list_tab_bg.jpg") no-repeat;
	overflow: hidden;
}

#leaderboard {
	width: 520px;
	height: 422px;
	background: url("../images/app_tab/list_bg.jpg") no-repeat;
}

#leaderlist {
	width: 500px;
	height: 350px;
	overflow: auto;
	margin: 0px 0px 0px 2px;
}

#mudlisthead {
	height: 50px;
	margin: 0px 0px 0px 2px;
}

#mudlist, #mudlisthead {
	width: 490px;
}

#mudlist tr {
	height: 60px;
}

#mudlist tr {
	background: url("../images/app_tab/tr-divider.png") no-repeat;
	background-position: center center;
}

#mudlist tr:hover {
	background: url("../images/app_tab/tr-hover.png") no-repeat;
	background-position: center center;
}

#trophy {
	width: 520px;
	overflow: hidden;
}

.col-head-spacer {
	width: 170px;
}

.col-num {
	width: 40px;
}

.col-pic {
	width: 60px;
}

.col-name {
	width: 200px;
}

.col-creature {
	width: 100px;
}

.col-props {
	background: url("../images/app_tab/prop-splot.png") no-repeat;
	background-position: center center;
	text-align: center;
	color: #fff;
}

.hairy {
	text-indent: -10000px;
	background: url("../images/app_tab/hairy.png") no-repeat;
	background-position: center center;
}

.buck {
	text-indent: -10000px;
	background: url("../images/app_tab/buck.png") no-repeat;
	background-position: center center;
}

.walnuts {
	text-indent: -10000px;
	background: url("../images/app_tab/walnuts.png") no-repeat;
	background-position: center center;
}

.sasplotch {
	text-indent: -10000px;
	background: url("../images/app_tab/sasplotch.png") no-repeat;
	background-position: center center;
}

.jspDrag {
	background: url("../images/app_tab/scroll-handle-sprite.png") no-repeat;
	background-position: left;
	width: 28px;
	height: 62px;	
}

.jspDrag:hover {
	background-position: right;
}

.jspTrack {
	background: transparent url("../images/app_tab/scroll-track.png") no-repeat;
	background-position: center center;
}

.jspVerticalBar {
	width: 28px;
	background: transparent;
}