html {
	background: #74000e;
	color: #ccc;
}

html *:focus {
	outline: 0;
}


body div.qtip div.content { /*dTip hack*/
   padding: 0;
   margin: 0;
   height: auto; min-height: auto;
   width: auto; min-width: auto;
}

body, div {
	font-family: "Helvetica Neue", "Helvetica", Arial, sans;
	font-size: 13px;
	line-height: 1.4;
	text-shadow: #000000 0px 0px 3px;
	}

a {
	color: #CAA642;
	text-decoration: none;
}

a:hover {
	color: #F3E898;
}

noscript div, .warning {
	line-height: 50px;
	background: #CAA642;
	color: #333;
	text-shadow: none;
	font-size: 16px;
	text-align: center;
}

.warning a {
	color: #74000e;
	text-decoration: underline;
}

ol {
	display: inline;
	margin-left: 0px;
	margin-top: 15px;
	margin-right: 15px;
	font-size: 11px;
	line-height: 1.6em;
	min-height: 200px;
	min-width: 165px;
	float:left;
}

li {
	margin-left: 3px;
	padding-left: 0px;
}

li a {
	margin-left: 10px;
	margin-right: 5px;
}

.top5, li {
	color: #666;
	font-weight: bold;
}

.top5 a, li a {
	color :#fff;
	font-weight: normal;
}

h1 {
	text-indent: -99999px;
	height: 59px;
	margin-bottom: 20px;
	background: url("../img/sprite-headlines.png") no-repeat;
	background-position: center 15px;
}

h4 {
	font-size: 13px;
	color: #666;
	margin-left: 3px;
}

.tweet-profile-image img {
	width: 48px;
	height: 48px;
}

.fake-h2 {
	text-indent: -99999px;
	width: 260px;
	height: 25px;
	background: url("../img/sprite-headlines.png") no-repeat;
	background-position: 0px -50px;
	display: inline-block;
	float: left;
	margin-right: 5px;
}

h3 {
	text-indent: -99999px;
	background: url("../img/sprite-headlines.png");
	height: 19px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	display: inline-block;
}

#title-counters {
	background-position: 50% -80px;
}

#title-nominees {
	background-position: 50% -100px;
}

#title-photos {
	background-position: 50% -120px;
}

#title-viewers {
	background-position: 50% -140px;
}

/* LOADING */

.please-wait {
	text-align:center;
	padding-top: 60px;
	color: #666666;
}

.loading-text {
	text-shadow: none;
	color: #000000;
}

/* TIMELINE NAV */

#timeline-head * {
	display: inline-block;
	vertical-align: middle;
}

#timeline-head .filter-celeb a {
	color: #6ADCFF;
}

#timeline-head h4 {
	display: block;
}

.down a, .down i {
	background: url("../img/sprite-ui.png") no-repeat;
	color: #fff;
}

#timeline-head a {
	font-size: 16px;
	margin-left: 2px;
	padding-left: 12px;
	line-height: 28px;
	background-position: left -269px;
}

#timeline-head i {
	width: 15px;
	height: 28px;
	background-position: right -269px;
}

#timeline-container {
	position: relative;
}

/* LOAD MORE */

#loadmore {
	margin-top: 15px;
	position: relative;
	width: 478px;
	height: 52px;
	background: url("../img/sprite-headlines.png") no-repeat;
	background-position: -11px -571px;
	display: none;
}

#loadmore a {
	position: absolute;
	display: block;
	top: 0px;
	width: 478px;
	height: 52px;
	line-height: 52px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	background: url("../img/sprite-headlines.png") no-repeat;
	background-position: -11px -671px;
}

#loadmore-glow {
	width: 478px;
	height: 52px;
	background: url("../img/sprite-headlines.png") no-repeat;
	background-position: -11px -621px;
}

/* MAIN TIMELINE SHADOWS */

#timeline-top-shadow {
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	width: 530px;
	height: 24px;
	background: url("../img/divider-hor-bottom.png") no-repeat;
	background-position: center top;
}

/* CUSTOM DRAG HANDLE on TIMELINE */

.jspDrag {
	background: url("../img/sprite-ui.png") no-repeat;
	background-position: -6px -191px;
	width: 24px;
	height: 66px;	
}

.jspDrag:hover {
	background-position: -31px -191px;
}

.jspTrack {
	background: transparent;
}

.jspVerticalBar {
	width: 26px;
	background: transparent;
}

.jspCap {
	display: block;
	background: #eeeef4;
}

.jspVerticalBar .jspCap {
	height: 10px;
	background: transparent;
}



/* TWEET STYLES */

/*.celeb {
	background: url("../img/tweet-bg-celeb.png") no-repeat;
	background-position: center bottom;
}

.academy {
	background: url("../img/tweet-bg-academy.png") no-repeat;
	background-position: center bottom;
}*/

#timeline .tweet-bg {
	width: 470px;
	padding: 20px 0px 20px 0px;
	background: url("../img/tweet-divider-hr.png") no-repeat;
	background-position: bottom;

}

#viewer-timeline .tweet-bg {
	width: 290px;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #333;
}

#viewer-timeline .tweet {
	width: 290px;
}

.tweet-profile-image {
	padding: 10px;
	float: left;
	width: 48px;
	height: 48px;
	background: url("../img/sprite-ui.png") no-repeat;
	background-position: -56px -148px;
	overflow: hidden;
}

#viewer-timeline .tweet-profile-image {
	padding: 0px;
	background: none;
	width: 32px;
	height: 32px;
}

.tweet-copy-block {
	display: block;
	margin-left: 80px;
}

.tweet-name {
	font-weight: bold;	
}

.tweet-name-screen {
	font-size: 16px;
}

.tweet-name-full {
	color: #666666;
	font-size: 13px;
}

#viewer-timeline .tweet-copy-block {
	margin-left: 40px;
}

#viewer-timeline * {
	font-size: 11px;
}

/* TWEET UTILITY */

/* adding bg so IE behaves on fade

#timeline .tweet-utility, #timeline .tweet {
	background: #242424;
} */

.tweet-utility {
	margin-top: 10px;
	font-size: 11px;
	display: inline-block;
}

.tweet-utility * {
	display: inline-block;
	vertical-align: bottom;
	line-height: 20px;
}

.tweet-utility i {
	background: url("../img/sprite-ui.png");
	height: 20px;
}

.tweet-utility b {
	font-weight: normal;
}

.tweet-actions a {
	margin-left: 15px;
}

#viewer-timeline .tweet-utility i {
	display: none;
}

#viewer-timeline .tweet-utility a {
	color: #666;
}

.action-reply span i {
	width: 24px;
	background-position: -3px -54px;
}

.action-follow span i {
	width: 20px;
	background-position: -4px -82px;
}

.action-retweet span i {
	width: 24px;
	background-position: -2px -25px;
}

/* PAGINATION */

.spotlight-pagination {
	display: block;
	font-size: 11px;
	color: #3F3C32;
	width: 113px;
	height: 22px;
	background: url("../img/sprite-ui.png");
	background-position: -143px -0px;
	text-align: center;
}

.spotlight-pagination span {
	line-height: 22px;
	margin-left: 7px;
	margin-right: 7px;
}

.disabled{
	color: #3F3C32;
}

/* BADGES */

.tweet-name * {
	vertical-align: middle;
}

.badge-promoted {
	text-indent: -99999px;
	margin-left: 6px;
	display: inline-block;
	width: 89px;
	height: 15px;
	background: url("../img/sprite-ui.png");
	background-position: -62px -27px;
}

.badge-celebrity {
	text-indent: -99999px;
	margin-left: 6px;
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url("../img/sprite-ui.png");
	background-position: -6px -6px;
}

.badge-nominee {
	text-indent: -99999px;
	margin-left: 10px;
	display: inline-block;
	width: 74px;
	height: 26px;
	background: url("../img/sprite-ui.png");
	background-position: -61px -0px;
}

.expert-bio {
	text-indent: -99999px;
	margin-left: 6px;
	display: inline-block;
	width: 44px;
	height: 25px;
	background: url("../img/sprite-ui.png");
	background-position: -56px -50px;
}

.expert-bio:hover {
	background-position: -156px -50px;
}

#spotlight .tweet, #spotlight .tweet-bg {
	background: none;
}

#spotlight-tweet-container {
	height: 190px;
	width : 530px;
}


#spotlight-tweet-container .tweet {
	position : absolute;
	top : 0px;
	width: 530px;
}

#spotlight .tweet-name, #spotlight .tweet-text {
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=2);
}

#spotlight .tweet-name-screen, #spotlight .tweet-name, #spotlight .tweet-text {
	font-size: 24px;
	letter-spacing: 0em;
	line-height: 1.1;
	width: 440px;
}

/* VISUALISERS */

#counters {
	position: relative;
	margin-bottom: 30px;
}

.counter-bak {
	position: relative;
}

/* COUNTER TOTAL */

#counter-total {
	display: inline-block;
	float: left;
	width: 230px;
	height: 100px;
}

#counter-total * {
	display: inline-block;
	background: url("../img/sprite-headlines.png") no-repeat;
}

#counter-total .counter-bak {
	width: 230px;
	height: 100px;
	background-position: 0px -165px;
}

#counter-total .counter-label, #counter-total .counter-text {
	width: 230px;
	margin: 3px;
	text-align: center;
	background-position: 999px 999px;
	color: #fff;
	text-shadow: #fff 0px 0px 7px;
}

#counter-total .counter-text {
	line-height: 70px;
	font-size: 40px;
}

#counter-total .counter-label {
	position: absolute;
	top: 54px;
	left: 0px;
	font-size: 13px;
	font-weight: bold;
	margin: 6px;
}

#counter-total .pixalation {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 230px;
	height: 100px;
	background-position: 0px -263px;
}

#counter-total .gloss {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 230px;
	height: 43px;
	background-position: 0px -364px;
}

/* COUNTER SECOND */

#counter-seconds {
	display: inline-block;
	float: left;
	width: 120px;
	height: 100px;
}

#counter-seconds * {
	display: inline-block;
	background: url("../img/sprite-headlines.png") no-repeat;
}

#counter-seconds .counter-bak {
	width: 120px;
	height: 100px;
	background-position: -230px -165px;
}

#counter-seconds .counter-label, #counter-seconds .counter-text {
	width: 120px;
	margin: 3px;
	text-align: center;
	background-position: 999px 999px;
	color: #CC3333;
	text-shadow: #CC3333 0px 0px 7px;
}

#counter-seconds .counter-text {
	line-height: 70px;
	font-size: 28px;
}

#counter-seconds .counter-label {
	position: absolute;
	top: 54px;
	left: 0px;
	font-size: 13px;
	font-weight: bold;
	margin: 6px;
}

#counter-seconds .pixalation {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 142px;
	height: 92px;
	background-position: -230px -263px;
}

#counter-seconds .gloss {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 142px;
	height: 43px;
	background-position: -230px -364px;
}


/* NOMINEES */

.top5 * {
	font-size: 18px;
	line-height: 34px;
	cursor: pointer;
}

#nominees b, .flipper {
	display: inline-block;
	font-weight: normal;
	float:left;
}

.flipper {
	float:left;
	position: relative;
	margin-left: 8px;
	width: 330px;
	height: 38px;
	background-image: url("../img/sprite-headlines.png");
	background-position: -20px -490px;
}

.flipper .name {
	margin-left: 10px;
}

.flipper .count {
	position: absolute;
	top: 0px;
	width: 315px;
	height: 38px;
	text-align: right;
}

.flipper .flip-fx {
	position: absolute;
	top: 0px;
	width: 349px;
	height: 38px;
	background-image: url("../img/sprite-headlines.png");
	background-position: -20px -530px;
}

.nominee-sub span {
	font-size: 11px;
	color: #666666;
}

.flip-fx img {
	display: none;
}

/* PHOTO BROWSER */

#photos {
	height: 220px;
}

#photo-browser {
	width: 350px;
	height: 120px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

#photo-scroller {
	width: 99999px;
	position:absolute;
}

.photo-assembly {
	display: inline-block;
	float: left;
	margin-left: 30px;
	font-size: 11px;
	text-align: center;
}

#photo-browser .photo {
	border: 4px solid white;
	-moz-box-shadow: 0px 0px 4px #000;
	-webkit-box-shadow: 0px 0px 4px #000;
	box-shadow: 0px 0px 4px #000;
	width: 75px;
	height: 75px;
	overflow: hidden;
	background: #000;
	margin-top: 5px;
	margin-bottom: 5px;
}

.shadow 
{
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;	
	/* For IE 8 */	
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";	
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
.photo img {
	width: 75px;
	height: 46px;
}

#photo-scroll-shadows {
	position: absolute;
	top: 0px;
	width: 100%;
}

#photo-scroll-shadows * {
	background: url("../img/sprite-ui.png") no-repeat;
	width: 20px;
	height: 120px;
}

#left-shadow {
	float: left;
	background-position: -260px 0px;
}

#right-shadow {
	float: right;
	background-position: -280px 0px;
}

#photo-paging {
	font-size: 16px;
	color: #666;
	text-align: center;
	font-weight: bold;
	line-height: 20px;
}

#photo-paging * {
	vertical-align: bottom;
}

#photo-paging .previous i {
	margin-right: 8px;
	display: inline-block;
	height: 20px;
	width: 20px;
	background: url("../img/sprite-ui.png") no-repeat;
	background-position: -5px -138px;
}

#photo-paging .next i {
	margin-left: 8px;
	display: inline-block;
	height: 20px;
	width: 20px;
	background: url("../img/sprite-ui.png") no-repeat;
	background-position: -5px -168px;
}

#photo-paging .previous i:hover {
	background-position: -35px -138px;
}

#photo-paging .next i:hover {
	background-position: -35px -168px;
}

#share {
	margin-left: 10px;
	min-height: 180px;
}

/* MODALS */

#modal-storage {
	display: none;
}

.modal-bottom {
	width: 294px;
	height: 40px;
	background: url("../img/popup-background.png") no-repeat;
	background-position: center bottom;
}

.modal-top {
	width: 294px;
	background: url("../img/popup-background.png") no-repeat;
	background-position: center top;
	padding-top: 30px;
}

.modal-content {
	margin: 0px 35px 0px 35px;
	color: #333;
	text-shadow: #fff 0px 1px 0px;
}

.modal-content a {
	color: #cc0000;
}

.modal-content a:hover {
	color: #ff0000;
}

.close-botton {
	float: right;
	margin-top: 10px;
	text-indent: -9999px;
	background: url("../img/sprite-ui.png") no-repeat;
	height: 13px;
	width: 13px;
	background-position: -8px -114px;
	
}

.modal-title-bar {
	position: relative;
	left: -15px;
	margin-bottom: 10px;
	width:240px;
}

/* Photo modal */
.modal-photo
{
	width : 640px;
/*	height : 570px;*/
	background-color : #FFF;
	padding:15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.photo-tweet
{
	padding-bottom:15px;
}

.photo-tweet a
{
	color:#C30505;
}

.photo-tweet-image
{
	text-align:center;
}

.photo-tweet-time
{
	color:#CCCCCC;
	font-size: 11px;
}


.photo-screen-name
{
	color:#C30505;
	font-size: 16px;
	font-weight: bold;
}

.photo-user-name, .photo-tweet-body
{
	color:#666666;
	font-size: 13px;
}

.photo-tweet-body
{
	font-weight : normal;
}
.photo-screen-name, .photo-user-name, .photo-tweet-body, .photo-tweet-time
{
	text-shadow: none;	
}

.ribon-title {	display: inline-block;
	font-size: 16px;
	line-height: 30px;
	color: #fff;
	background: url("../img/sprite-ui.png") no-repeat;
	height: 32px;
	width: 215px;
	background-position: 0px -297px;
	padding-left: 10px;
	text-shadow: #333 0px -1px 0px;
}

.bio-divider {
	width: 100%;
	height: 5px;
	background: url("../img/sprite-ui.png") no-repeat;
	background-position: center -262px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.bio-stats div {
	float: left;
	margin-right: 20px;
}

.bio-stats .bio-tweet-count {
	font-size: 16px;
	font-weight: bold;
	text-shadow: #fff 0px 1px 0px;
}

.bio-stats .bio-tweet-label {
	font-size: 11px;
	text-shadow: #fff 0px 1px 0px;
}


.button-follow a {
	display: block;
	float: left;
	text-indent: -9999px;
	width: 89px;
	height:29px;
	background: url("../img/sprite-ui.png") no-repeat;
	background-position: -57px -112px;
}

.button-follow a:hover {
	background-position: -157px -112px;
}

.button-retweet a {
	display: block;
	float: left;
	text-indent: -9999px;
	width: 89px;
	height:29px;
	background: url("../img/sprite-ui.png") no-repeat;
	background-position: -57px -77px;
}

.button-retweet a:hover {
	background-position: -157px -77px;
}

.button-cancel a{
	line-height: 29px;
	margin-left: 15px;
	vertical-align:bottom;
}

.mini {
	font-size: 11px;
}

#credits a {
	background: url("../img/sprite-ui.png") no-repeat;
	display: block;
	height: 35px;
	width: 165px;
	text-indent: -9999px;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}

#credits .mr {
	background-position: 0px -330px;
}

#credits .sr {
	background-position: -170px -330px;
}