html {
	color:#ccc;
	background:#242424;
	}

body {
	font-family:"Helvetica Neue", "Helvetica", Arial, sans;
	font-size:13px;
	line-height: 1.4;
	text-shadow: #000 0px 0px 3px;
	}
	
a {
	color:#E7D38D;
	text-decoration:none;
}

h1 {
	text-indent:-10000px;
	width:510px;
	height: 37px;
	padding-bottom: 15px;
	background:url("../img/twitter-logo.png") no-repeat;
}

/* TWEET STYLES */
.celeb {
	background:url("../img/tweet-bg-celeb.png") no-repeat;
	background-position: center bottom;
}

.academy {
	background:url("../img/tweet-bg-academy.png") no-repeat;
	background-position: center bottom;
}

.tweet-bg {
	width:520px;
	padding: 20px 0px 20px 0px;
	background:url("../img/tweet-divider-hr.png") no-repeat;
	background-position: bottom;
}

.tweet-profile-image {
	padding:10px;
	float:left;
	background:url("../img/profile-frame.png") no-repeat;
}

.tweet-copy-block {
	display: block;
	margin-left: 80px;
}

.tweet-name {
	font-weight:bold;	
}

.tweet-name-screen {
	font-size:16px;
}

.tweet-name-full {
	color:#666666;
	font-size:13px;
}

.tweet-utility {
	margin-top:6px;
	font-size:11px;
}

.tweet-utility a {
	color: #666;
}

.tweet-utility i {
	display:inline-block;
	background:url("../img/sprite.png");
	position: relative;
	vertical-align:baseline;
}

.tweet-utility b {
	font-weight:normal;
}

.action-reply span i {
	width:24px;
	height:16px;
	top:5px;
	margin-left:15px;
	background-position:-3px -56px;
}

.action-follow span i {
	width:20px;
	height:20px;
	top:7px;
	margin-left:20px;
	background-position:-4px -82px;
}

.action-retweet span i {
	width:24px;
	height:17px;
	top:5px;
	margin-left:15px;
	background-position:-2px -27px;
}
/* BADGES */

.badge-promoted {
	text-indent:-10000px;
	margin-left:6px;
	display:inline-block;
	width:89px;
	height:15px;
	background:url("../img/sprite.png");
	background-position:-62px -27px;
	position: relative;
	top: 2px;
}

.badge-celebrity {
	text-indent:-10000px;
	margin-left:6px;
	display:inline-block;
	width:13px;
	height:13px;
	background:url("../img/sprite.png");
	background-position:-6px -6px;
}

.badge-nominee {
	text-indent:-10000px;
	margin-left:10px;
	display:inline-block;
	width:74px;
	height:23px;
	background:url("../img/sprite.png");
	background-position:-61px -0px;
	position: relative;
	top: -5px;
}

.expert-bio {
	text-indent:-10000px;
	margin-left:6px;
	display:inline-block;
	width:91px;
	height:25px;
	background:url("../img/sprite.png");
	background-position:-56px -50px;
	position: relative;
	top: -5px;
}

.expert-bio:hover {
	background-position:-156px -50px;
}

#spotlight .tweet, #spotlight .tweet-bg {
	background: none;
}

#spotlight .tweet-name-screen, #spotlight .tweet-text {
	font-size:24px;
	letter-spacing:0em;
	line-height: 1.1;
}